*{
    margin: 0;
}
section{
     min-height: 100vh;
     background-position: center;
     background-size: cover;
}

#main {
    background-image: url(img/bgMAIN.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#about{
    background-image: url(img/bgABOUT.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.elien {
    width: 125PX;
}
.maincontent{
    width: 851px;
    height: 229px;
    background-image: url(img/form1.png);
    box-sizing: border-box;
    padding-top: 60px;
    margin-bottom: 20px;
    position: relative;
}
.button {
    background-color: #BBFF2C;
    padding: 23px 26px;
    border: 2px solid black;
    border-radius: 100px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    display: block;
    font-family: Comfortaa;
    font-weight: 700;
}
#skills{
    background-image: url(img/bgSKILLS.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
#works{
    background-image: url(img/bgWORKS.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
#comments{
    background-image: url(img/bgCOMMENTS.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.maincontent_wraper{
    width: max-content;
    margin: 0 auto;
}
.main_contenttitel{
    font-family: Inter;
    font-size: 80px;
    font-weight: 700;
    color: #2B2D35;
}
.main_contentp{
    font-family: Comfortaa;
    font-size: 20px;
    font-weight: 700;
    color: #2B2D35;
    
}
.aboutcontent{
    width: 376px;
    height: 346px;
    background-image: url(img/form2.png);
    box-sizing: border-box;
    padding: 20px;
    padding-top: 60px;
    margin-bottom: 20px; 
}
.aboutviol{
    max-width: 500px;
    background-color: #792AFF;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 40px;
    padding-right: 20px;

}
.about_contenttitel{
    font-family: Inter;
    font-size: 80px;
    font-weight: 700;
    text-shadow: #000000 5px 5px 0px;
    color: #ffffff;
}
.about_contentp{
    font-family: Comfortaa;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 20px ;
    padding: 0;

}
.imgportfolio{
    width: 100%;
    height: 150px;
    
}
.about_contentpp{
    font-family: Comfortaa;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin: 10px;
    
}
.decor-big{
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(50%, -50%);
  
}
.decor-small{
    position: absolute;
    left: 20px;
    bottom: 50px;
    animation-name: planetWoblle;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate ;
}

@keyframes planetWoblle {
    from{
        transform: translateY();
    }
    to{
        transform: translateY(-70px);
    }
}
.cloud{
    animation-name: orbit;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse ;
    position: absolute;
    bottom: 60px;
    left: 60px;
}

@keyframes orbit{
    from{
        transform: translateY();
    }
    to{
        transform: translateY(-40px);
    }
}

.obertkaabaut{
    display: flex;
    align-items: center;
    margin-top: 90px;
    
}
.skillsfoto{
    background-image: url(img/form3.png);
    width: 638px;
    height: 410px;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    margin-top: 40px;
}
.cardsfoto{
    background-image: url(img/card.png);
    width: 204px;
    height: 308px;
    box-sizing: border-box;
    padding: 20px;
    padding-top: 60px;
    margin-bottom: 20px;
}
.commentsfoto{
    background-image: url(img/comment.png);
    display: flex;
    width: 327px;
    height: 161px;
    box-sizing: border-box;
}
.obertkacomments{
    display: flex;
}
.obertka_comments{
    display: flex;
    margin: 30px;
}
.ingwork{
    width: 407px;
    height: 297px;
    margin: 15px;
}
.allimg{
    display: flex;
    margin-top: 80px;
}
.textcoment{
    padding: 40px;
    font-family: Comfortaa;
}
.textskills{
    font-family: Comfortaa;
}
.textankets{
    font-family: Comfortaa;
}
.logo{
    font-family: Inter;
    font-size: 64px;
    font-weight: 700;
    color: #BBFF2C;
    text-shadow: #000000 5px 5px 0px;
}
.menu__links{
    font-family: Comfortaa;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    display: block;
    border: 2px solid #000000;
    border-radius: 12px;
    padding: 10px 0px;
    width: 120px;
    text-align: center;
    background-color: #ffffff;
}
header{
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 900;
}
.menu{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 20px;
}
.main_activ_button{
    background-color: #792AFF;
    color: #ffffff;
}
.mobile_menu{
    background: none;
    border: none;
    display: none;
    cursor: pointer;
}
.open_menu{
    background-color:#200153;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    z-index: -1;
}
.open_menu_active{
    display: flex;
}
@media (max-width: 600px){
    .maincontent{
        width: 320px;
        height: 86px;
        background-size: 100%;
        padding-top: 20px;
        text-align: center;
    }
    .main_contenttitel{
        font-size: 30px;
    }
    .main_contentp{
        font-size: 14px;
    }
    .button {
        font-size: 14px;
        min-width: 205px;
        text-align: center;
        padding: 10px;
    }
    .aboutcontent{
        width: 320px;
        padding-top: 60px;
    }
    .aboutviol{
        max-width: 320px;
        max-height: 270px;
    }
    .decor-big{
      display: none;
    }
    .obertkaabaut{
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .cloud{
        display: none;
    }
    .mobile_menu{
        display: block;
    }
    .menu{
        display: none;
    }
    header{
      justify-content:space-between;
    }
    .skillsfoto{
        width: 320px;
        height: 274px;
        padding: 20px;
        padding-top: 60px;
        margin-bottom: 20px;
        background-size: 320px 274px;
    }
    .worksflagman{
        height: 88px;
        width: 87px;
        margin-top: 10px;
        padding-top: 0px;
    }
    .textskills{
        font-size: 14px;
        font-weight: 700;
        padding-top: 100px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .about_contenttitel{
        font-size: 30px;
        font-weight: 700;
    }
    .allimg{
        display: flex;
        flex-direction: column-reverse;
    }
    .ingwork{
        height: 196px;
        width: 301px;
        gap: 18px;
    }
    .about_contentp{
        font-size: 14px;
        font-weight: 700;
    }
    .about_contentpp{
        font-size: 20px;
        font-weight: 700;
    }
    .obertkacomments{
        display: flex;
        flex-direction: column-reverse;
    }
    .obertka_comments{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cardsfoto{
        height: 265px;
        width: 210px;
        background-size: 210px 265px;
    }
    .commentsfoto{
        height: 74px;
        width: 208px;
        padding-top: 0px;
        background-size: 208px 74px;
        background-image: url(img/comment-mobile.png);
    }
    .textcoment{
        font-size: 12px;
        font-weight: 400;
        padding: 10px;
    }
    .textankets{
        font-size: 14px;
        font-weight: 400;
        
    }
}

.open_menu_active{
    display: flex;
}
